.section3 {
    background-color: #000000;
    color: #ffffff;
    border-radius: 70px;
}
.section3:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../img/background-binary.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    border-radius: 70px;
  }
.cursor {
    display: none;
}

.container-content-section3 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.text-hover-negative {
    padding-left: 10%;
    padding-right: 10%;
}

.text-hover-negative a {
    transition: all 0.5s ease;
    color: #efefef;
    text-decoration: none;
    font-size: 30px;
    line-height: 70px;
    cursor: none;
}

.text-hover-negative a:hover {
    transform: scale(1.6);
}

.cursor {
    pointer-events: none;
}

.cursor__circle {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
    display: none;
}

circle {
    fill: white;
}

.hide-cursor {
    cursor: none;
}

.show-cursor {
    cursor: pointer;
}